*#*#
*.#*
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.swp
*.rej
*~
.DS_Store
.cache
.classpath
.ensime
.jvmopts
.ensime_cache/
.ensime_lucene
.generated-mima*
.vscode/
.metals/
.bloop/
.idea/
.idea_modules/
.project
.scala_dependencies
.settings
project/target/
project/plugins/lib_managed/
project/plugins/project/build.properties
project/plugins/src_managed/
project/plugins/target/
scalastyle-on-compile.generated.xml
scalastyle-output.xml
scalastyle.txt
target/